<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather Forecasts</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <!-- Weather icon -->
    <img src="{{ url_for('static', filename='img/weather_icon.png') }}" class="weather-icon" alt="Weather Icon">

    <!-- Text -->
    <div class="title">Weather</div>
    <div class="subtitle">ForeCasts</div>

    <!-- Button -->
    <a href="/dashboard">
      <button class="get-start-btn">Get Start</button>
    </a>
  </div>
</body>
</html>

